services:
    vd-gui:
        image: ghcr.io/verus-datum/gui:${IMAGE_TAG:-latest}
        build:
            context: .
            dockerfile: deploy/gui/Dockerfile
        container_name: vd-gui
        ports:
            - 3000:3000
        environment:
            - VITE_API_URL=https://vd.harville.dev/api:8081

    vd-api:
        image: ghcr.io/verus-datum/api:${IMAGE_TAG:-latest}
        build:
            context: .
            dockerfile: deploy/api/Dockerfile
        container_name: vd-api
        ports:
            - 8081:8081
        environment:
            - VITE_API_URL=https://vd.harville.dev/api:8081
            - DATABASE_URL=postgresql://admin:password@localhost:5432/vd_db
        depends_on:
            - vd-db

    vd-db:
        image: ghcr.io/verus-datum/db:${IMAGE_TAG:-latest}
        build:
            context: .
            dockerfile: deploy/postgres/Dockerfile
        container_name: vd-db
        ports:
            - 5432:5432
        volumes:
            - vd-db-data:/var/lib/postgresql/data

volumes:
    vd-db-data:
