@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-ui {
	@apply shadow-[0_0_12px_rgba(0,0,0,0.08)];
}

.maplibregl-control-container {
	display: none !important;
}

html,
body {
	overflow-x: hidden;
}

.hide-scrollbar {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

.button {
	@apply cursor-default;
}

/* Global light mode scrollbar */
* {
	scrollbar-width: thin;
	scrollbar-color: #d4d4d8 transparent;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

img {
}

.icon {
	-webkit-mask-image: url('/assets/transparent.png');
	mask-image: url('/assets/transparent.png');
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-position: center;
	mask-position: center;
}

.full {
	-webkit-mask-image: url('/assets/full.png');
	mask-image: url('/assets/full.png');
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-position: center;
	mask-position: center;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: #d4d4d8;
	border-radius: 9999px;
	border: 2px solid transparent;
	background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #a1a1aa;
}

.bg-card {
	@apply border;
}

.width {
	@apply max-w-[1200px] md:w-[100%] md:pt-20 lg:w-[80%] 2xl:w-[60%] 3xl:w-[65%];
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 0%;
		--muted: 0 0% 87%;
		--muted-foreground: 0 0% 44%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--border: 0 0% 87%;
		--input: 220 13% 91%;
		--primary: 212 84% 47%;
		--primary-foreground: 0 0% 100%;
		--secondary: 0 0% 96%;
		--secondary-foreground: 220.9 39.3% 11%;
		--accent: 0 0% 96%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 210 20% 98%;
		--ring: 224 71.4% 4.1%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
		--chip-red: 0 80% 61%;
		--blue-flat: 213 71% 95%;
		--blue-foreground: 212 69% 39%;
		--blue-muted: 212 49% 60%;
		--green-foreground: 104 26% 37%;
		--green-muted: 105 18% 57%;
		--green-flat: 105 53% 93%;
		--orange-foreground: 42 54% 43%;
		--orange-muted: 42 41% 53%;
		--orange-flat: 42 71% 95%;
		--orange: 29 87% 53%;
	}

	.dark {
		--background: 0 0% 7.0588%;
		--foreground: 0 0% 98%;
		--card: 0 0% 7.8431%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 7.8431%;
		--popover-foreground: 0 0% 98%;
		--primary: 212 100% 60%;
		--primary-foreground: 0 0% 100%;
		--secondary: 240 3.7% 12%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 55%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 0 0% 16%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--radius: 0.5rem;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
		--chip-red: 0 80% 61%;
		--blue-flat: 212 63% 12%;
		--blue-foreground: 212 75% 57%;
		--blue-muted: 212 49% 70%;
		--green-foreground: 104 26% 87%;
		--green-muted: 105 18% 67%;
		--green-flat: 106 69% 11%;
		--orange-foreground: 42 54% 83%;
		--orange-muted: 42 41% 63%;
		--orange-flat: 42 71% 15%;
		--orange: 29 87% 63%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
