apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "vd.fullname" . }}-db
  labels:
    app.kubernetes.io/name: {{ include "vd.name" . }}
    component: db
spec:
  replicas: {{ .Values.db.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "vd.name" . }}
      component: db
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "vd.name" . }}
        component: db
    spec:
      {{- if .Values.imagePullSecret }}
      imagePullSecrets:
      - name: {{ .Values.imagePullSecret }}
      {{- end }}
      volumes:
      - name: db-data
        persistentVolumeClaim:
          claimName: {{ include "vd.fullname" . }}-db-data
      containers:
      - name: db
        image: "{{ .Values.db.image.repository }}:{{ .Values.db.image.tag }}"
        env:
{{ toYaml .Values.db.env | indent 10 }}
        ports:
        - containerPort: {{ .Values.db.port }}
        volumeMounts:
        - name: db-data
          mountPath: /var/lib/postgresql/data
        {{- with .Values.db.env }}
        env:
        {{- range $key, $val := . }}
        - name: {{ $key }}
          value: "{{ $val }}"
        {{- end }}
        {{- end }}

